# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
OCR Research/API/aws_credentials.json
OCR Research/GUI/package.json
OCR Research/GUI/build
OCR Research/API