*.exe filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
OCR[[:space:]]Research/GUI/dist/NutriScan.exe filter=lfs diff=lfs merge=lfs -text
OCR[[:space:]]Research/GUI/build/NutriScan/NutriScan.pkg filter=lfs diff=lfs merge=lfs -text
